{
  "version": 6,
  "cmakeMinimumRequired": { "major": 3, "minor": 25, "patch": 0 },
  "configurePresets": [
    {
      "name": "{{ board }}",
{%- if board == 'bluepill_f103' %}
      "displayName": "Bluepill (STM32F103C8T6, Cortex-M3)",
{%- else %}
      "displayName": "Blackpill (STM32F401CCU6, Cortex-M4F)",
{%- endif %}
      "binaryDir": "${sourceDir}/build/{{ board }}",
      "cacheVariables": {
        "BOARD": "{{ board }}",
        "CMAKE_TOOLCHAIN_FILE": "${sourceDir}/cmake/toolchain-arm-none-eabi.cmake",
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    }
  ],
  "buildPresets": [
    { "name": "{{ board }}", "configurePreset": "{{ board }}" }
  ]
}
